html, body {
  margin: 0;
}

main {
  max-width: 900px;
  margin: auto;
}

table.jobs {
  width: 100%;
}

table.jobs th, table.jobs td {
  text-align: left;
}

table.jobs tr:nth-child(even) {
  background: #efefef;
}

table.jobs, table.jobs th, table.jobs td {
  border: none;
  border-collapse: collapse;
}

.message {
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 3px;
}

.message.success {
  background: #cef6ce;
}

.message a {
  font-weight: bold;
  color: #686868;
}
