{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/photo.css">
{% endblock %}

{% block main %}
  <div class="photo-container">
    {% if previous_photo.is_some() %}
      <a aria-label="Previous photo" title="Go to previous photo" class="previous" href="{{ album_path }}/{{ previous_photo.as_ref().unwrap() }}">
        <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
      </a>
    {% else %}
      <span class="previous"></span>
    {% endif %}

    <img src="{{album_path}}/{{photo.name}}/medium">

    {% if next_photo.is_some() %}
      <a aria-label="Next photo" title="Go to next photo" class="next" href="{{ album_path }}/{{ next_photo.as_ref().unwrap() }}">
        <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
      </a>
    {% else %}
      <span class="next"></span>
    {% endif %}
  </div>
  <div class="metadata-container">
    <h2>Metadata</h2>
    <dl>
      {% for named_value in photo.get_named_metadata() %}
        <dt>{{ named_value.0 }}</dt>
        <dd>{{ named_value.1 }}</dd>
      {% endfor %}
    </dl>
  </div>
{% endblock %}
