{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/album.css">
{% endblock %}

{% block main %}
  {% for album in albums %}
    <a href="{{ album_path }}/{{ album.name }}">
      <div class="card album">
        <div class="mask">
          <div class="info">
            <h2>
              <i class="fa fa-folder-open" aria-hidden="true"></i>
              {{ album.name }}
            </h2>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
  {% for photo in photos %}
    <a href="{{ album_path }}/{{ photo.name }}">
      <div class="card photo" style="background-image: url('{{ album_path }}/{{ photo.name }}/small')">
        <div class="mask">
          <div class="info">
            <h2>{{ photo.name }}</h2>
            <time datetime="{{ photo.creation_date.as_ref().unwrap() }}">{{ photo.creation_date.as_ref().unwrap() }}</time>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
