{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/photo.css">
{% endblock %}

{% block main %}
  <div class="photo-container">
    {% if previous_photo.is_some() %}
      <a title="Previous photo" class="previous" href="{{ album_path }}/{{ previous_photo.as_ref().unwrap() }}"><span>◀</span></a>
    {% else %}
      <span class="previous"></span>
    {% endif %}

    <img src="{{album_path}}/{{name}}/medium">

    {% if next_photo.is_some() %}
      <a title="Next photo" class="next" href="{{ album_path }}/{{ next_photo.as_ref().unwrap() }}"><span>▶</span></a>
    {% else %}
      <span class="next"></span>
    {% endif %}
  </div>
  <div class="metadata-container">
    <h2>Metadata</h2>
    <dl>
      <dt>Date</dt>
      <dd>{{ creation_date }}</dd>
      <dt>Camera</dt>
      <dd>{{ camera }}</dd>
      <dt>Exposure time</dt>
      <dd>{{ exposure_time }} s</dd>
      <dt>Aperture</dt>
      <dd>{{ aperture|safe }}</dd>
      <dt>Focal length</dt>
      <dd>{{ focal_length }} mm (35 mm equ.: {{ focal_length_in_35mm }} mm)</dd>
      <dt>Flash</dt>
      <dd>{{ flash }}</dd>
    </dl>
  </div>
{% endblock %}
